@use 'sass:map';
@use 'sass:math';

@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;


.main-visual{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  &-container{
    display: flex;
    //align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    color: #fff;
    max-width: var(--width);
    padding: 0 var(--gutter);
    z-index: 2;

    h2{
      font-size: 100px;
      font-weight: 700;
    }
    div{
      padding-top: 55px;
      p{
        line-height: 1.34;
        font-size: 24px;
      }
    }
  }
}
@keyframes bounce {
  0%, 100% { transform: translateX(-50%) translateY(0);opacity: 1; }
  50% { transform: translateX(-50%) translateY(10px);opacity: 0.7; }
}
.scroll-down-indicator{
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  opacity: 1;
  animation: bounce 2s infinite;
  cursor: default;
  user-select: none;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 0 10px;
  i{
    margin-top: 4px;
  }
}

.split-text span {
  display: inline-block;
  opacity: 0;
  transform: translateY(40px);
}


.main-visual-background{
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: url(#{$image-path}/main-visual-background.png) no-repeat center center / cover;
  transform: scale(1.14);
  opacity: .7;
}
