@use 'sass:map';
@use 'sass:math';

@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;


.service-section {
    text-align: center;
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    background: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    //transition: all 1s ease;
    position: relative;
    .service-title {
      font-size: 60px;
      font-weight: 500;
      padding-bottom: 150px;
      //opacity: 0;
      transform: translateY(40px);
      transition: all 1s ease;
      color: #000;
    }
  
    .service-list {
      display: flex;
      justify-content: space-around;
      gap: 0 160px;
      .service-item {
        opacity: 0;
        transform: translateY(40px);
        transition: transform 0.3s;
        img {
          margin-bottom: 85px;
          transition: transform 0.3s ease, filter 0.3s ease;
        }
  
        h3 {
          font-size: 32px;
          margin-bottom: 8px;
        }
  
        p {
          font-size: 20px;
          font-weight: 500;
          color: #fff;
          opacity: 0.6;
        }
  
        &:hover img {
          transform: scale(1.1);
          filter: drop-shadow(0 0 6px #00f0ff80);
        }
      }
    }
  }