@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;
@use 'sass:map';
@use 'sass:math';

.header-renewal{
    height: 10rem;
    background-color: #fff;
    padding: 0 2.5rem;
    &-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
    .user{
        a{
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            color: #212121;
            padding-left: 2rem;
            background: url($image-path + '/user.png') no-repeat left center;
            em{
                font-style: normal;
                font-weight: 400;
                color: #193FD8;
            }
        }
    }
    
    .title{
        font-size: 3.6rem;
        color: #454545;
        b{
            font-weight: 700;
        }
    }
    .utils{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    ._login{
        
        display: inline-flex;
        align-items: center;
        gap:0 .5rem;
    }
}

.banner-renewal{
    height: 24.8rem;
    background: url($image-path + '/sub-banner.png') no-repeat center center / cover;
}

.page-title{
    margin-bottom: 2.5rem;
    margin-top: 5.5rem;
    h2{
        color: #212121;
        font-size: 2.4rem;
    }
}

.sub-page{
    padding-bottom: 10rem;
}
