@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;
@use 'sass:map';
@use 'sass:math';

[data-layout=sub] {
  padding-top: 23rem;
  padding-bottom: 23rem;
  display: block;
}
@media (max-width: 1440px) {
  [data-layout=sub] {
    padding-top: 18rem;
    padding-bottom: 18rem;
  }
}
@media (max-width: 1000px) {
  [data-layout=sub] {
    padding-top: 15rem;
    padding-bottom: 13rem;
  }
}
[data-layout=sub]:has(.board--view) {
  padding-top: 16rem;
}

[data-layout=sub]:has(.board--view) .intro--banner {
  display: none;
}

.intro--banner {
  position: relative;
  margin-bottom: 150px;
  max-width: var(--width);
  margin-left: auto;
  margin-right: auto;
}

.intro--banner_bg.bg1 .intro--visual{
  background-image: url(#{$image-path}/bg1.png);
}

@media (max-width: 1000px) {
  .intro--banner {
    margin-bottom: 100px;
  }
}
@media (max-width: 768px) {
  .intro--banner {
    margin-bottom: 70px;
  }
}
.intro--banner_title {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  margin-top: 230px;
}

.intro--banner_title.is-break {
  position: absolute;
}

@media (max-width: 1000px) {
  .intro--banner_title {
    margin-top: 150px;
  }
}
.intro--banner_title.is-break h2,
.intro--banner_title.is-break p, .intro--banner_title.is-active h2,
.intro--banner_title.is-active p {
  color: #fff;
}

.intro--banner_title h2, .intro--banner_title p {
  transition: color 0.25s;
}

.intro--banner_title h2 {
  font-weight: 400;
  color: #127ab7;
  font-size: 24px;
  padding-bottom: 10px;
}

.intro--banner_title p {
  color: #000;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.34;
}

@media (max-width: 1000px) {
  .intro--banner_title h2 {
    font-size: clamp(1.4rem, 2.4vw, 2rem);
    padding-bottom: 15px;
  }
  .intro--banner_title p {
    font-size: clamp(1.9rem, 3.8vw, 4rem);
  }
}
.intro--banner-wrap {
  position: relative;
  width: 100%;
}

.intro--banner_bg {
  position: relative;
  height: 450px;
  margin-top: 230px;
}

@media (max-width: 1440px) {
  .intro--banner_bg {
    margin-top: 280px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (max-width: 1000px) {
  .intro--banner_bg {
    height: 400px;
    margin-top: 150px;
  }
}
@media (max-width: 768px) {
  .intro--banner_bg {
    height: 350px;
    margin-top: 100px;
  }
}
.intro--banner_bg .intro--visual {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 50%;
  min-width: 100%;
  width: 1440px;
  transform: translateX(-50%);
  height: 100%;
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

@media (max-width: 1440px) {
  .intro--banner_bg .intro--visual {
    width: 100%;
  }
}


.intro--banner_bg::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  display: none;
}

@media (min-width: 1660px) {
  .intro--banner_bg {
    min-width: 1440px;
  }
}