<footer id="footer" class="footer">
    <div class="footer-container">
        <h2></h2>
        <div class="footer-content">
            <div class="footer-info">
                <p>서울시 마포구 큰우물로75, 14층 사무실1405호(도화동,성지빌딩)</p>
                <div>
                    <dl>
                        <dt>Tel.</dt>
                        <dd><a href="tel:02-3296-4886">02-3296-4886</a></dd>
                    </dl>
                    <dl>
                        <dt>Fax.</dt>
                        <dd>02-3296-4887</dd>
                    </dl>
                </div>
            </div>
            <div class="copyright">
                Copyrights ⓒ wooricmc. All rights reserved.
            </div>
        </div>
    </div>
</footer>

<script type="module" src="/js/main.js"></script>
<script src="/js/header.js"></script>

