<header id="header" class="header">
    <div class="header-wrap">
        <div class="header-container">
            <h1 class="logo"><a href="/"></a></h1>
            <nav class="nav">
                <ul class="menu">
                    <li class="menu-item"><a href="#">회사소개</a>
                        <ul class="sub-menu">
                            <li><a href="#">경영이념</a></li>
                            <li><a href="#">인사말</a></li>
                            <li><a href="#">걸어온 길</a></li>
                            <li><a href="#">조직도</a></li>
                            <li><a href="#">면허</a></li>
                            <li><a href="#">오시는 길</a></li>
                        </ul>
                    </li>
                    <li class="menu-item"><a href="#">사업분야</a>
                        <ul class="sub-menu">
                            <li><a href="">재개발</a></li>
                            <li><a href="">재건축</a></li>
                            <li><a href="">소규모정비사업</a></li>
                            <li><a href="">리모델링</a></li>
                        </ul>
                    </li>
                    <li class="menu-item"><a href="#">주요실적</a>
                        <ul class="sub-menu">
                            <li><a href="#">ALL</a></li>
                            <li><a href="#">재개발</a></li>
                            <li><a href="#">재건축</a></li>
                            <li><a href="#">소규모정비사업</a></li>
                            <li><a href="#">리모델링</a></li>
                        </ul>
                    </li>
                    <li class="menu-item"><a href="#">NEWS</a>
                        <ul class="sub-menu">
                            <li><a href="">공지사항</a></li>
                            <li><a href="">뉴스</a></li>
                            <li><a href="">문의하기</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="util">
                <button type="button" class="mobile-button" id="btnMobile" title="메뉴 열림">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="header-menu-bg"></div>
</header>

<aside id="mobileAside" class="mobile-gnb">
    <div class="mobile-gnb-wrapper">
        <ul class="mobile-menu">
            <li class="gnb--li1">
                <a href="#" class="menuitem"><span>회사소개</span></a>
                <div class="depth">
                    <ul>
                        <li><a href="#">경영이념</a></li>
                        <li><a href="#">인사말</a></li>
                        <li><a href="#">걸어온 길</a></li>
                        <li><a href="#">조직도</a></li>
                        <li><a href="#">면허</a></li>
                        <li><a href="#">오시는 길</a></li>
                    </ul>
                </div>
            </li>
            <li class="gnb--li1">
                <a href="#" class="menuitem"><span>사업분야</span></a>
                <div class="depth">
                    <ul>
                        <li><a href="#">재개발</a></li>
                        <li><a href="#">재건축</a></li>
                        <li><a href="#">소규모정비사업</a></li>
                        <li><a href="#">리모델링</a></li>
                    </ul>
                </div>
            </li>
            <li class="gnb--li1">
                <a href="#" class="menuitem"><span>주요실적적</span></a>
                <div class="depth">
                    <ul>
                        <li><a href="#">ALL</a></li>
                        <li><a href="#">재개발</a></li>
                        <li><a href="#">재건축</a></li>
                        <li><a href="#">소규모정비사업</a></li>
                        <li><a href="#">리모델링</a></li>
                    </ul>
                </div>
            </li>
            <li class="gnb--li1">
                <a href="#" class="menuitem"><span>NEWS</span></a>
                <div class="depth">
                    <ul>
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">뉴스</a></li>
                        <li><a href="#">문의하기</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</aside>